ul {
    display: flex;
    background-color: rgb(38, 119, 224);
    margin-left: 600px ; 
    justify-content: space-between;
    list-style: none; 
    color: aliceblue;
}
 button{
background-color: rgb(47, 72, 179);
color: aliceblue;
}
.lia{
background-image: url(/img/00002019000000046-1024x576-MM-90.jpg);
width: 100%;
height: 500px;
color: aliceblue;
}
.lia2{
margin-left: 250px;
}
